crds:
  # -- Install and upgrade CRDs
  install: true
  # -- Keep CRDs on chart uninstall
  keep: true

controllerManager:
  manager:
    containerSecurityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
          - ALL
    image:
      repository: inseefrlab/s3-operator
      # Use the charts appVersion as a default
      tag: null
    imagePullPolicy: IfNotPresent
    imagePullSecrets: []
    resources:
      limits:
        cpu: 1000m
        memory: 512Mi
      requests:
        cpu: 50m
        memory: 64Mi
    extraArgs: []
    extraEnv: {}
  replicas: 1

kubernetes:
  clusterDomain: cluster.local
  overrideExistingSecret: false

s3:
  default:
    enabled: false
    createNamespace: true
    namespace: "s3-operator"
    s3Provider: minio
    url: "https://localhost:9000"
    accessKey: "accessKey"
    secretKey: "secretKey"
    # caCertificatesBase64: ""
    region: us-east-1
    # secretRef: "my-s3-operator-auth-secret"
    # caCertSecretRef: "my-s3-operator-cert-secret"
    # allowedNamespaces: ""
    # Should the operator try to delete the resource from the S3 backend upon CR deletion ?
    deletion:
      bucket: true
      path: false
      policy: false
      s3user: false
