crds:
  # -- Install and upgrade CRDs
  install: true
  # -- Keep CRDs on chart uninstall
  keep: true

controllerManager:
  manager:
    # -- Set the priority class name
    priorityClassName: '' # system-cluster-critical
    # -- Set the Pod securityContext
    podSecurityContext:
      runAsNonRoot: true
    # -- Annotations to add to the pod.
    podAnnotations: {}
    # -- Labels to add to the pod.
    podLabels: {}
    # -- Set the Container securityContext
    containerSecurityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
          - ALL
    image:
      # Image Repository
      repository: inseefrlab/s3-operator
      # Use the charts appVersion as a default
      tag: null
     # -- Set the image pull policy
    imagePullPolicy: IfNotPresent
    # -- Configuration for `imagePullSecrets` so that you can use a private images registry.
    imagePullSecrets: []
    # -- Set the resources
    resources:
      limits:
        cpu: 1000m
        memory: 512Mi
      requests:
        cpu: 50m
        memory: 64Mi
    # -- Additional Arguments
    extraArgs: []
    # -- Additional Environment Variables
    extraEnv: {}
  # -- Amount of Replicas
  replicas: 1

kubernetes:
  clusterDomain: cluster.local
  overrideExistingSecret: false

# -- Default S3 Instance
s3:
  default:
    enabled: false
    createNamespace: true
    namespace: "s3-operator"
    s3Provider: minio
    url: "https://localhost:9000"
    accessKey: "accessKey"
    secretKey: "secretKey"
    # caCertificatesBase64: ""
    region: us-east-1
    # secretRef: "my-s3-operator-auth-secret"
    # caCertSecretRef: "my-s3-operator-cert-secret"
    # allowedNamespaces: ""
    # Should the operator try to delete the resource from the S3 backend upon CR deletion ?
    deletion:
      bucket: true
      path: false
      policy: false
      s3user: false
