{{- if .Values.s3.default.enabled -}}
{{- if .Values.s3.default.createNamespace }}
---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ .Values.s3.default.namespace }}
{{- end }}
---
apiVersion: s3.onyxia.sh/v1alpha1
kind: S3Instance
metadata:
  labels:
    app.kubernetes.io/component: manager
    app.kubernetes.io/created-by: s3-operator
    app.kubernetes.io/part-of: s3-operator
    control-plane: controller-manager
    {{- include "s3-operator.labels" . | nindent 4 }}
  name: default
  namespace: {{ .Values.s3.default.namespace }}
spec:
  s3Provider: {{ .Values.s3.default.s3Provider }}
  url: {{ .Values.s3.default.url }}
  {{- if .Values.s3.default.secretRef }}
  secretRef: {{ .Values.s3.default.secretRef }}
  {{- else }}
  secretRef: default-s3instance-credentials
  {{- end }}
  {{- if .Values.s3.default.caCertSecretRef }}
  caCertSecretRef: {{ .Values.s3.default.caCertSecretRef }}
  {{- end }}
  {{- if .Values.s3.default.allowedNamespaces }}
  allowedNamespaces:
    {{- range .Values.s3.default.allowedNamespaces }}
    - {{ . | quote }}
    {{- end }}
  {{- end }}
  {{- if .Values.s3.default.region }}
  region: {{ .Values.s3.default.region }}
  {{- end }}
  s3UserDeletionEnabled: {{ .Values.s3.default.deletion.s3user }}
  pathDeletionEnabled: {{ .Values.s3.default.deletion.path }}
  policyDeletionEnabled: {{ .Values.s3.default.deletion.policy }}
  bucketDeletionEnabled: {{ .Values.s3.default.deletion.bucket }}

{{- if not .Values.s3.default.secretRef }}
---
apiVersion: v1
kind: Secret
metadata:
  labels:
    app.kubernetes.io/component: manager
    app.kubernetes.io/created-by: s3-operator
    app.kubernetes.io/part-of: s3-operator
    control-plane: controller-manager
    {{- include "s3-operator.labels" . | nindent 4 }}
  name: default-s3instance-credentials
  namespace: {{ .Values.s3.default.namespace }}
type: Opaque
stringData:
  S3_ACCESS_KEY: {{ .Values.s3.default.accessKey }}
  S3_SECRET_KEY: {{ .Values.s3.default.secretKey }}
{{- end }}

{{- /*
The secret is created when the User doesn't have set a caCertSecretRef, but filled caCertificatesBase64.
*/}}
{{- if and (not .Values.s3.default.caCertSecretRef) .Values.s3.default.caCertificatesBase64 }}
---
apiVersion: v1
kind: Secret
metadata:
  labels:
    app.kubernetes.io/component: manager
    app.kubernetes.io/created-by: s3-operator
    app.kubernetes.io/part-of: s3-operator
    control-plane: controller-manager
    {{- include "s3-operator.labels" . | nindent 4 }}
  name: default-s3instance-certificates
  namespace: {{ .Values.s3.default.namespace }}
type: Opaque
data:
  ca.crt: {{ .Values.s3.default.caCertificatesBase64 }}
{{- end }}
{{- end -}}
