name: Golang CI

on:
  push:
    branches:
      - "**"
    paths-ignore:
      - "docs/**"
    tags:
      - "*"
  pull_request:
    paths-ignore:
      - "docs/**"

jobs:
  go:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: Run linter
        uses: golangci/golangci-lint-action@v8
      - name: Install dependencies
        run: go mod download
      - name: Test with Go
        run: go test -v ./... -coverprofile cover.out
      - name: Upload Go test results
        uses: actions/upload-artifact@v4
        with:
          name: coverage
          path: cover.out
      - name: Build
        run: go build -v ./...
